name: Test EXE Packaging

on:
  workflow_dispatch:

jobs:
  test-build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: "22"
          distribution: "temurin"

      - name: Build with Ant
        shell: pwsh
        run: |
          $escapedPath = $Env:JAVA_HOME -replace '\\', '\\\\'
          Write-Host "Escaped JAVA_HOME: $escapedPath"
          ant -noinput "-Dplatforms.Oracle_OpenJDK_22.0.2_9.home=$escapedPath" -buildfile build.xml

      - name: Package EXE with jpackage
        run: |
          jpackage `
            --input dist `
            --name SimuladorCLP `
            --main-jar SimuladorClp.jar `
            --main-class SimuladorClp `
            --type app-image `
            --dest dist `
            --app-version 1.0 `
            --win-console `
        shell: pwsh

      - name: Upload EXE as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SimuladorCLP.exe
          path: dist/SimuladorCLP-1.0.exe
